<div class="exam-form-container">
  <div class="header">
    <h1>Organiser un examen</h1>
    <i routerLink="/" class="fa-solid fa-circle-left" title="Retour à la page d'accueil"></i>
  </div>

  <form [formGroup]="examForm" (ngSubmit)="submitForm()">
    <div class="exam-form-group">
      <div class="fields-row">
        <input class="name" formControlName="name" placeholder="Nom" [class.red]="examForm.get('name')?.touched && examForm.get('name')?.invalid" />
        <select formControlName="status">
          <option value="">Sélectionner le statut</option>
          <option value="En recherche de place">En recherche de place</option>
          <option value="Confirmé">Confirmé</option>
          <option value="À organiser">À organiser</option>
          <option value="Annulé">Annulé</option>
        </select>
        <input formControlName="location" placeholder="Lieu" />
      </div>
      <div class="fields-row">
        <input formControlName="date" type="date" placeholder="Date" />
        <input formControlName="time" type="time" placeholder="Heure" />
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="submit-exams" [disabled]="examForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>