<div class="exam-form-container" appAnimate="fadeIn" animationDuration="0.8s">
  <div class="header" appAnimate="flipInX" animationDelay="0.2s">
    <h1>Organiser un examen</h1>
    <i routerLink="/" class="fa-solid fa-circle-left" title="Retour à la page d'accueil"></i>
  </div>

  <form [formGroup]="examForm" (ngSubmit)="submitForm()">
    <div class="exam-form-group">
      <div class="fields-row">
        @let nameInvalid = examForm.get('name')?.touched && examForm.get('name')?.invalid;
        @let nameLingthInvalid = examForm.get('name')?.touched && examForm.get('name')?.hasError('minlength');
        <input class="name" formControlName="name" placeholder="Nom" [class.red]="nameInvalid || nameLingthInvalid" />
        <select formControlName="status">
          <option value="">Sélectionner le statut</option>
          <option value="En recherche de place">En recherche de place</option>
          <option value="Confirmé">Confirmé</option>
          <option value="À organiser">À organiser</option>
          <option value="Annulé">Annulé</option>
        </select>
        <input formControlName="location" placeholder="Lieu" />
      </div>
      <div class="fields-row">
        <input formControlName="date" type="date" placeholder="Date" />
        <input formControlName="time" type="time" placeholder="Heure" />
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="submit-exams">Enregistrer</button>
    </div>
  </form>
</div>