<div class="exams-page-wrapper">
  <div class="header" appAnimate="fadeIn" animationDelay="0.1s">
    <div class="title">
      <h1>Mes examens</h1>
      <small>{{examsData.length || 0}} examen<span [class.hidden]="examsData.length < 2">s</span> à venir</small>
    </div>
    <div class="header-actions">
      <div class="layout">
        <img 
          src="assets/icons/list.png" 
          alt="list" 
          [class.active]="currentLayout === 'list'"
          (click)="switchLayout('list')">
        <img 
          src="assets/icons/grid.png" 
          alt="grid" 
          [class.active]="currentLayout === 'grid'"
          (click)="switchLayout('grid')">
      </div>
      <div class="add-exam">
        <button routerLink="/exam-form">Organiser un examen</button>
      </div>
    </div>
  </div>
  <div class="exams-list" [class.grid-layout]="currentLayout === 'grid'" [class.list-layout]="currentLayout === 'list'">
    @let placeholder = 'En attente';
    @for (item of examsData; track $index) {
    <div class="exam-item" 
         [appAnimate]="deletingItemId === item.id ? 'flipOutX' : 'fadeInDown'" 
         [animationDelay]="deletingItemId === item.id ? '0s' : ($index * 0.1) + 's'"
         [animationDuration]="deletingItemId === item.id ? '0.6s' : '1s'"
         [appStatusBorder]="item.status">
      <div class="exam-details">
        <div class="exam-name">{{item.name}}</div>
        <div class="exam-info">
          <div class="info-item">
            <span class="label">Statut</span>
            <span class="value" 
                  [class.status]="item.status && item.status !== placeholder" 
                  [class.pending]="!item.status || item.status === placeholder"
                  [attr.data-status]="item.status.toLowerCase()">{{item.status || placeholder}}</span>
          </div>
          <div class="info-item">
            <span class="label">Lieu</span>
            <span class="value">{{item.location || placeholder}}</span>
          </div>
          <div class="info-item">
            <span class="label">Date</span>
            <span class="value">{{item.date || placeholder}}</span>
          </div>
          <div class="info-item">
            <span class="label">Heure</span>
            <span class="value">{{item.time || placeholder}}</span>
          </div>
        </div>
      </div>
      <div class="exam-actions">
        <button class="edit" [routerLink]="['/exam-form']" [queryParams]="{ id: item.id }">Modifier</button>
        <button class="delete" (click)="openDeleteModal(item)">Supprimer</button>
      </div>
    </div>
    }@empty {
    <div class="no-exams">
      <p>Aucun examen à afficher pour le moment.</p>
    </div>
    }
  </div>
</div>

<!-- Confirmation Modal -->
@if (showDeleteModal) {
<div class="modal-backdrop" appAnimate="fadeIn" animationDuration="0.3s">
  <div class="modal-context">
    <i class="fa-solid fa-trash-can"></i>
  </div>
  <div class="modal">
    <h2>Confirmer la suppression</h2>
    <p>Voulez-vous vraiment supprimer l'examen de <strong>{{ examToDelete?.name }}</strong> ?</p>
    <div class="modal-actions">
      <button class="cancel" (click)="closeDeleteModal()">Annuler</button>
      <button class="confirm" (click)="confirmDeleteExam()">Supprimer</button>
    </div>
  </div>
</div>
}